:root {
  --custom-color-1: #333;
  --custom-color-2: #666;
  --custom-color-3: #606266;
  --custom-border-color-1: #ccc;
  --custom-border-color-2: #ddd;
  --custom-border-color-3: #eee;
  --custom-border-color-4: #ebeef5;
  --custom-border-color-5: #f2f2f2;
  --custom-border-color-6: #e2e5ec;
  --custom-border-color-7: #e3e3e3;
  --custom-border-color-8: #eaeaea;
  --custom-border-color-9: #dcdfe6;
  --custom-border-color-10: #d5d5d5;
  --custom-border-color-11: rgb(231, 240, 248);
  --custom-border-color-12: #e8eaee;
  --custom-border-color-13: #f0f2f6;
  --custom-border-color-14: #d9dbe1;
  --custom-border-color-15: #efefef;
  --custom-border-color-16: #e0e0e0;
  --custom-border-color-17: #ebecef;
  --custom-background-color-1: #f1f8ff;
  --custom-background-color-2: #e3ebf5;
  --custom-background-color-alarm-1: rgba(255, 0, 0, 0.1);
  --custom-background-color-alarm-2: rgba(253, 140, 7, 0.1);
  --custom-background-color-alarm-3: rgba(249, 195, 113, 0.1);
  --background-color-hover-1: #e5f3fe;
  --background-color-content:#ffffff;
  --black-user-color: #666666;
  --color-black:#000000;
  --color-text-regular:#3d5d80;
  --color-white:#ffffff;
  --border-color-base:#d9e2e8;
  --background-color-body:#edf0f6;
  --color-primary:#4194fc;
  --color-success-light:#d8f2e8;
  --background-color-base:#f5f7fa;
  --border-color-extra-light:#f7fafc;
  --color-info:#909399

}
